<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: field_class(resource, :email) %>
      <p class="error-text"><%= show_errors(resource, :email) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= render 'shared/submit_button', text: 'Resend Instructions', f: f %>
    </div>
  </div>

<% end %>
