<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "col s12", method: :put }) do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.email_field :email, class: field_class(resource, :email) %>
      <p class="error-text"><%= show_errors(resource, :email) %></p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name, "Username" %>
      <%= f.text_field :name, class: field_class(resource, :name), data: { length: 12 } %>
      <p class="error-text"><%= show_errors(resource, :name) %></p>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :current_password, 'Current Password (required for all changes)' %>
      <%= f.password_field :current_password, class: field_class(resource, :current_password) %>
      <p class="error-text"><%= show_errors(resource, :current_password) %></p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password, "New Password"%>
      <%= f.password_field :password, class: field_class(resource, :password) %>
      <p class="error-text"><%= show_errors(resource, :password) %></p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password_confirmation, "New Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: field_class(resource, :password_confirmation) %>
      <p class="error-text"><%= show_errors(resource, :password_confirmation) %></p>
    </div>
  </div>

  <div class="row">
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>Change Avatar</span>
        <%= f.file_field :avatar %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate <%= field_class(resource, :avatar) %>" type="text">
      </div>
      <p class="error-text"><%= show_errors(resource, :avatar) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 right-align">
      <a class='waves-effect waves-light btn' id='reset-form'>Reset</a>
      <%= render 'shared/submit_button', text: 'Update', f: f, id: 'edit-register-submit' %>
    </div>
  </div>

<% end %>
