<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "col s12" }) do |f| %>

  <div class="row no-bottom-margin">
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.email_field :email, class: field_class(resource, :email) %>
      <p class="error-text"><%= show_errors(resource, :email) %></p>
    </div>
  </div>

  <div class="row no-bottom-margin">
    <div class="input-field col s12">
      <%= f.label :name, 'Username' %>
      <%= f.text_field :name, class: field_class(resource, :name), data: { length: 12 } %>
      <p class="error-text"><%= show_errors(resource, :name) %></p>
    </div>
  </div>

  <div class="row no-bottom-margin">
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password, class: field_class(resource, :password) %>
      <p class="error-text"><%= show_errors(resource, :password) %></p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: field_class(resource, :password_confirmation) %>
      <p class="error-text"><%= show_errors(resource, :password_confirmation) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= render 'shared/submit_button', text: 'Sign Up', f: f %>
    </div>
  </div>

<% end %>
