<div class="comment-item" id="comment-<%= comment.id %>">
  <div class="col s12 m3 right-border">
    <div class="comment-avatar-area">
      <div class="commenter-avatar">
        <%= render_user_avatar(comment.commentable, :thumb) %>
      </div>
      <div class="commenter-stats">
        <p><%= commenter_link(current_any_scope, comment) %></p>
        <span><%= comment.commentable.comments.count %> comments</span>
      </div>
    </div>
  </div>
  <div class="col s12 m9">
    <div class="comment-text-area">
      <div class="comment-stats">
        <span class="comment-time"><em>Posted <%= comment.created_at.strftime('%m/%d/%Y') %></em></span>
      </div>
      <%= render_markdown(filter_flagged_comment(comment)) %>
      <% if current_any_scope && policy(comment).create? %>
        <div class="comment-manage-area flex-between">
          <div class="user-comment-manage-links">
            <%= edit_comment_link(comment.post, comment) %>
            <%= delete_comment_link(comment.post, comment)  %>
          </div>
          <% if current_admin && policy([:administration, comment]).update? %>
            <%= render 'administration/comments/comment_controls', comment: comment %>
          <% end %>
        </div>
      <% else %>
        <% if current_admin && policy([:administration, comment]).update? %>
          <div class="comment-manage-area">
            <%= render 'administration/comments/comment_controls', comment: comment %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
