<div class="comment-manage-area">
  <% if policy(comment).create? %>
    <div class="user-comment-manage-links left">
      <%= edit_comment_link(@post, comment) %>
      <%= delete_comment_link(@post, comment) %>
    </div>
  <% end %>
  <div class="admin-flag-area right">
    <%= form_for([:administration, comment], flag_comment_options(comment.id)) do |f| %>
      <div class="switch secondary-content">
        <label id="flag-comment-check-<%= comment.id %>">
          Activate
          <%= f.check_box(:flagged) %>
          <span class="lever"></span>
          Flag
        </label>
      </div>
      <%= user_form_tag(comment.commentable) %>
      <%= hidden_field_tag(:post_id, @post.id) %>
    <% end %>
  </div>
</div>
