<div class="row" id="comment-form-row">
  <div class="col s12">

    <div class="card-panel col s12">

      <%= form_for([@comment.commentable, @post, @comment], html: { class: "col s12" }, remote: true) do |f| %>

        <div class="row">
          <div class="input-field col s12">
            <%= f.label :text %>
            <%= f.text_area :text, class: "materialize-textarea #{field_class(@comment, :text)}" %>
            <p class="error-text"><%= show_errors(@comment, :text) %></p>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <%= render 'shared/submit_button', f: f %>
            <a class="waves-effect waves-light btn", id="cancel-comment">Cancel</a>
          </div>
        </div>

        <%= hidden_field_tag(:page, @post.last_page) %>

      <% end %>

    </div>

  </div>
</div>
