<div class="conversations-item">
  <div class="row no-bottom-margin flex-valign">
    <div class="col s3">
      <div class="conversations-avatar flex-valign-center">
        <%= contextual_avatar(current_any_scope, conversation) %>
      </div>
    </div>
    <div class="col s6">
      <div class="conversations-name">
        <h5 class="title">
          <%= contextual_name(current_any_scope, conversation) %>
        </h5>
      </div>
      <div class="conversations-text">
        <p><%= conversation.messages.last.text.truncate(10) %></p>
      </div>
    </div>
    <div class="col s3">
      <div class="conversations-manage">
        <%= link_to 'View', conversation_path(conversation) %>
        <%= delete_conversation(current_any_scope, conversation) %>
      </div>
    </div>
  </div>
</div>
