<div class="row no-bottom-margin">
  <div class="input-field col s12">
    <div class="admin-search-form">
      <%= form_tag(path, method: "get", id: "#{search_type}-form", remote: true) do %>
        <%= text_field_tag search_type, params[search_type], placeholder: "Search" %>
      <% end %>
      <%= render 'shared/loading_spinner' %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $('#<%= search_type %>-form').on('ajax:beforeSend', function(ev) {
        $(this).hide()
      }).on('ajax:complete', function(ev) {
        $(this).show()
      })

      var sendQuery = function() { $(this).submit() }

      $('#<%= search_type %>-form').on('keyup', _.debounce(sendQuery, 300))

    });
  </script>
<% end %>
