<%= form_for @user, url: administration_user_path(@user) do |f| %>

  <h5>Attributes</h5>

  <div class="row no-bottom-margin">
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.email_field :email, class: field_class(@user, :email) %>
      <p class="error-text"><%= show_errors(@user, :email) %></p>
    </div>
  </div>

  <h5>Administration</h5>

  <div class="row">
    <div class="col s12">
      <%= render '/administration/edit_user_selectors', f: f %>
    </div>
  </div>

  <%= render 'shared/submit_button' %>

<% end %>
