<div class="card-panel">
  <div class="row">
    <div class="input-field col s12">
      <%= form_for @user, url: admin_manage_user_path(@user) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: field_class(@user, :email) %>
        <p class="error-text"><%= show_errors(@user, :email) %></p>

        <%= render 'shared/submit_button' %>
      <% end %>
    </div>
  </div>
</div>
