<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "col s12" }) do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= render 'shared/submit_button', text: 'Sign In', f: f %>
    </div>
  </div>

<% end %>
