<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %>
    </div>
    <%= sessions_new_password_link(controller_name, resource_name) %>
  </div>

  <div class="row">
    <div class="col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Sign In
      </button>
    </div>
  </div>
<% end %>
