<%= form_for([@post.postable, @post], html: { class: "col s12" }) do |f| %>

  <h5>Post Attributes</h5>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :title %>
      <%= f.text_field :title, class: field_class(@post, :title) %>
      <p class="error-text"><%= show_errors(@post, :title) %></p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :post_content %>
      <%= f.text_area :post_content, class: "materialize-textarea #{field_class(@post, :post_content)}" %>
      <p class="error-text"><%= show_errors(@post, :post_content) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= render 'shared/submit_button', f: f %>
    </div>
  </div>

  <% if current_admin %>
    <div class="row no-bottom-margin">
      <div class="col s12">
        <h5>Admin Controls</h5>
        <div class="switch">
          <label>
            Inactive
            <%= f.check_box :active %>
            <span class="lever"></span>
            Active
          </label>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $('#post-preview-link').on('click', function() {
        $.post("/markdown", $('#new_post').serialize()).done(function(data) {
          $('#preview-post-content').html(data.parsed_content)
        })
      })

    })
  </script>
<% end %>
