<div class="search-sort">
  <div class="container">
    <div class="row no-bottom-margin">
      <div class="col s12 m9">
        <div class="post-search-form">
          <%= form_tag("/", method: "get", remote: true, id: 'main-post-search', class: 'flex-valign') do %>
            <span class="search-icon"><i class="material-icons">search</i></span>
            <%= text_field_tag(:post_search, params[:post_search], placeholder: 'Enter search term', type: 'search') %>
            <%= link_to 'RESET', '/', class: "reset-search" %>
            <%= hidden_field_tag :date_scope, params[:date_scope] %>
          <% end %>
        </div>
      </div>
      <div class="col s12 m3 post-index-controls">
        <%= form_tag("/", method: "get", remote: true, id: 'main-post-filter') do %>
          <div class="input-field">
            <%= select_tag(:date_scope, options_for_select(post_date_filters, params[:date_scope]), id: 'post-filter-select') %>
          </div>
          <%= hidden_field_tag :post_search, params[:post_search] %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $('#post-filter-select').change(function(ev) { $(this).submit() });

      var sendQuery = function() { $(this).submit() };

      $('#post_search').on('keyup', _.debounce(sendQuery, 300));

      $('#main-post-search, #main-post-filter').on('ajax:beforeSend', function(ev) {
        $('.post-index-wrapper').hide();
      }).on('ajax:complete', function(ev) {
        $('.post-index-wrapper').show();
      });

    });
  </script>
<% end %>
