<div class="markdown-toolbar">

  <div class="toolbar-lists">

    <%= embedded_svg('bulleted-list.svg', id: 'bullet-list', config: toolbar_config('Bulleted List')) %>

    <%= embedded_svg 'numbered-list.svg', id: 'number-list', config: toolbar_config('Numbered List') %>
  </div>

  <div class="toolbar-text">

    <%= embedded_svg 'format-bold.svg', id: 'bold-text', config: toolbar_config('Bold Text') %>

    <%= embedded_svg 'format-italic.svg', id: 'italic-text', config: toolbar_config('Italic Text') %>

    <a class='dropdown-button' href='#' data-activates='header-dropdown' data-constrainWidth='false'>
      <%= embedded_svg 'insert-header.svg', id: 'insert-header', config: toolbar_config('Header') %>
    </a>

    <ul id='header-dropdown' class='dropdown-content'>
      <li><a href="#!" id="insert-main-header">Main Header</a></li>
      <li><a href="#!" id="insert-sub-header">Sub Heading</a></li>
      <li><a href="#!" id="insert-para-header">Paragraph Header</a></li>
    </ul>

  </div>

  <div class="toolbar-web">

    <%= embedded_svg 'insert-quote.svg', id: 'insert-quote', config: toolbar_config('Quote') %>

    <%= embedded_svg 'insert-link.svg', id: 'insert-link', config: toolbar_config('Link') %>

  </div>

</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $('#bullet-list').on('click', function(ev) {
        $('textarea').insertAtCaret('- ')
      })

      $('#number-list').on('click', function(ev) {
        $('textarea').insertAtCaret('1. ')
      })

      $('#bold-text').on('click', function(ev) {
        $('textarea').insertAtCaret('****', 2)
      })

      $('#italic-text').on('click', function(ev) {
        $('textarea').insertAtCaret('__', 1)
      })

      $('#insert-main-header').on('click', function(ev) {
        $('textarea').insertAtCaret('## ')
      })

      $('#insert-sub-header').on('click', function(ev) {
        $('textarea').insertAtCaret('### ')
      })

      $('#insert-para-header').on('click', function(ev) {
        $('textarea').insertAtCaret('#### ')
      })

      $('#insert-quote').on('click', function(ev) {
        $('textarea').insertAtCaret('> ')
      })

      $('#insert-link').on('click', function(ev) {
        $('textarea').insertAtCaret('[](url)', 1)
      })

    })
  </script>
<% end %>
