<div class="markdown-toolbar">

  <div class="toolbar-lists">

    <%= render_icon 'bulleted-list',
                    id: 'bullet-list',
                    text: 'Bullet List',
                    pos: 'top',
                    class: 'tooltipped' %>

    <%= render_icon 'numbered-list',
                    id: 'number-list',
                    text: 'Number List',
                    pos: 'top',
                    class: 'tooltipped' %>
  </div>

  <div class="toolbar-text">

    <%= render_icon 'format-bold',
                    id: 'bold-text',
                    text: 'Bold Text',
                    pos: 'top',
                    class: 'tooltipped' %>

    <%= render_icon 'format-italic',
                    id: 'italic-text',
                    text: 'Italic Text',
                    pos: 'top',
                    class: 'tooltipped' %>

    <a class='dropdown-button' href='#' data-activates='header-dropdown' data-constrainWidth='false'>
      <%= render_icon 'insert-header',
                      id: 'insert-header',
                      text: 'Insert Header',
                      pos: 'top',
                      class: 'tooltipped' %>
    </a>

    <ul id='header-dropdown' class='dropdown-content'>
      <li><a href="#!" id="insert-main-header">Main Header</a></li>
      <li><a href="#!" id="insert-sub-header">Sub Heading</a></li>
      <li><a href="#!" id="insert-para-header">Paragraph Header</a></li>
    </ul>

  </div>

  <div class="toolbar-web">

    <%= render_icon 'insert-quote',
                    id: 'insert-quote',
                    text: 'Insert Quote',
                    pos: 'top',
                    class: 'tooltipped' %>

    <%= render_icon 'insert-link',
                    id: 'insert-link',
                    text: 'Insert Link',
                    pos: 'top',
                    class: 'tooltipped' %>

  </div>

</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {

      $('#bullet-list').on('click', function(ev) {
        $('textarea').insertAtCaret('- ')
      })

      $('#number-list').on('click', function(ev) {
        $('textarea').insertAtCaret('1. ')
      })

      $('#bold-text').on('click', function(ev) {
        $('textarea').insertAtCaret('****', 2)
      })

      $('#italic-text').on('click', function(ev) {
        $('textarea').insertAtCaret('__', 1)
      })

      $('#insert-main-header').on('click', function(ev) {
        $('textarea').insertAtCaret('## ')
      })

      $('#insert-sub-header').on('click', function(ev) {
        $('textarea').insertAtCaret('### ')
      })

      $('#insert-para-header').on('click', function(ev) {
        $('textarea').insertAtCaret('#### ')
      })

      $('#insert-quote').on('click', function(ev) {
        $('textarea').insertAtCaret('> ')
      })

      $('#insert-link').on('click', function(ev) {
        $('textarea').insertAtCaret('[](url)', 1)
      })

    })
  </script>
<% end %>
