<div class="row">
  <div class="col s12">

    <div class="section content-top-spacer">
      <div class="section-header-bar flex-center">
        <h4>Administration</h4>
        <%= render 'admin_context_menu' %>
      </div>
    </div>

    <div class="section">
      <div class="card-panel">

        <div class="row">
          <div class="col s12">
            <div class="col s12 tabs-fixed-width">
              <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#post_manage">Post Management</a></li>
                <li class="tab col s6"><a href="#user_manage">User Management</a></li>
              </ul>
            </div>

            <div id="post_manage" class="col s12">
              <div class="row no-bottom-margin">
                <div class="col s12">
                  <%= render 'shared/admin_search', search_type: 'post_search', path: administration_dashboard_path %>
                </div>
              </div>
              <div id="posts">
                <%= render 'post_table' %>
              </div>
            </div>

            <div id="user_manage" class="col s12">
              <div class="row no-bottom-margin">
                <div class="col s12">
                  <%= render 'shared/admin_search', search_type: 'user_search', path: administration_dashboard_path %>
                </div>
              </div>
              <div id="users">
                <%= render 'user_table' %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
