<%= form_for @invitation, url: superadmins_invitations_path do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :recipient_email, 'Recipient Address' %>
      <%= f.text_field :recipient_email, class: field_class(@invitation, :recipient_email) %>
      <p class="error-text"><%= show_errors(@invitation, :recipient_email) %></p>
    </div>
  </div>

  <%= render 'shared/submit_button' %>
<% end %>
