<% if current_user %>
  <li><%= link_to 'My Account', edit_user_registration_path %></li>
  <li><%= link_to "Sign Out (#{current_user.email})", destroy_user_session_path, method: :delete %></li>
<% elsif current_superadmin(current_any_scope) %>
  <li><%= link_to 'Dashboard', administration_dashboard_path %></li>
  <li><%= link_to 'Manage Admins', administration_admins_path %></li>
  <li><%= link_to 'My Account', edit_admin_registration_path %></li>
  <li><%= link_to "Sign Out (#{current_admin.email})", destroy_admin_session_path, method: :delete %></li>
<% elsif current_admin %>
  <li><%= link_to 'Admin', administration_dashboard_path %></li>
  <li><%= link_to 'My Account', edit_admin_registration_path %></li>
  <li><%= link_to "Sign Out (#{current_admin.email})", destroy_admin_session_path, method: :delete %></li>
<% else %>
  <%= default_links %>
<% end %>
